.couple{
    margin: 10px;
    border: 1px solid black;
    width: 400px;
}
.order{ 
    font-size: 36px;
    background-color: #eaeaea;
    width: 50px;
}
.name{
    background-color: #eaeaea;
    text-align: left;
    font-size: 16px;
}
.teacher{
    background-color: #eaeaea;
    text-align: left;
    font-size: 12px;
}
.group{ 
    background-color: #eaeaea;
    font-size: 12px;
}
.date{ 
    background-color: #eaeaea;
    font-size: 12px;
}
.auditorium{
    background-color: #eaeaea;
    text-align: left;
    font-size: 12px;
}
.time{
    background-color: #eaeaea;
    font-size: 12px;
    width: 50px;
}
