.shedule-pair {
    margin: 10px;
    border: 1px solid black;
    width: 600px;
}

.shedule-order {
    font-size: 20px;
    background-color: #eaeaea;
    width: 35px;
}

.shedule-name {
    background-color: #eaeaea;
    text-align: left;
    font-size: 16px;
}

.shedule-teacher {
    background-color: #eaeaea;
    text-align: left;
    font-size: 12px;
    margin: 0;
}

.shedule-auditorium {
    background-color: #eaeaea;
    text-align: left;
    font-size: 12px;
    margin: 0;
}

.shedule-rest-time {
    background-color: #eaeaea;
    font-size: 14px;
    margin: 0;
}

@media (max-width: 768px) {
    .shedule-pair {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
    }
}