.teacher-input {
    width: 330px !important;
    height: 34px !important;
    margin: 8px 0 !important;
    font-size: 14px !important;
    padding-left: 15px !important;
}

.teacher-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-input {
    border: 1px solid red !important;
}

@media (max-width: 768px) {
    .teacher-input {
        width: 100% !important;
        max-width: 330px !important;
        box-sizing: border-box !important;
    }

    .teacher-section {
        padding: 0 10px;
        box-sizing: border-box;
    }
}