<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="MIET-API-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="ColoredConsole"
			name="logconsole" />
		
		<!-- Основной файловый лог -->
		<target xsi:type="File"
            name="file"
            fileName="logs/current_log.log"
            archiveFileName="logs/{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
			maxArchiveDays="90" />
		
		<!-- Файловый лог для ошибок -->
		<target xsi:type="File"
            name="error_file"
            fileName="logs/error_current_log.log"
            archiveFileName="logs/error_{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
			maxArchiveDays="90" />
	</targets>

	<rules>
		<!-- Логирование в консоль -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		
		<!-- Логирование всех сообщений (от Info и выше) в основной файл -->
		<logger name="*" minlevel="Info" writeTo="file" />
		
		<!-- Логирование только ошибок (Error и Fatal) в отдельный файл -->
		<logger name="*" minlevel="Error" writeTo="error_file" />
	</rules>
</nlog>