.shedule-form-in {
    width: 260px !important;
    height: 34px !important;
    margin: 8px 0 !important;
    font-size: 14px !important;
    padding-left: 15px !important;
}

.shedule_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-input {
    border: 1px solid red !important;
}